body {
  background: $background;
  letter-spacing: .02em;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;

}

a:hover {
    font-weight: bold;
}