.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 230px;
    background-color: #e2424a;
    font-color: white;
}

.sidebar-menu {
    color: white;
}

.logo {
    
}

.report {
    font-size: 3px;
}

.treeview {
    margin: 10px 15px;
    font-size: 3px;
    color: white;
}

.treeview a {
    color: white;
}
